@media screen and (max-width: 770px) {
    .waiting_p1{
        font-size: 12px;
       }
       .waiting_p0{
        font-size: 10px;
       }
  
       .waiting_p2{
        font-size: 10px;
       }
  
.time{
    font-size: 20px;
}


}
