@media screen and (max-width: 640px) {

    .datatime{
        display: flex;
        
        margin-left: 0px;
        border-radius: 10px;
        border: none;
        }


        
        .profil{
        
        /* margin-top: 18px; */
        margin-left: 0%;
        }
.maindiv{

width: 95%;}




}