@media screen and (max-width: 803px) {

    .divadd
    {
        margin-top: 33px;
        margin-left: 79%;
     
    }
    .divaddfoto
    {
        margin-top: -7px;
        margin-left: 70%;
      
    }
    .logo{
        margin-left: 85%;
    }
.waiting_p1{
font-size: 12px;}

.waiting_p0{
    font-size: 10px;}









}
