@media screen and (max-width: 1100px) {
    
    .divplace{
            margin-left: 1%;
            margin-top: -1px;
        
        }
        
            .leftdiv{
                align-items: flex-start;
                
            }

            
                








    
}


/* 600.768.992 */