@media screen and (max-width: 1100px) {
    
    .divplace{
            margin-left: 1%;
            margin-top: -1px;
        
        }
        .profil{
          
            margin-left: 0%;
            }
            










    
}


/* 600.768.992 */